<nav class="navbar">
	<div class="nav-logo">
		<a
			title="home"
			routerLink="/"
			class="logo"
		>
			<img
				src="/assets/svg/trainalytics-logo.svg"
				alt="Trainalytics logo"
				height="40px"
			/>
			<p class="app-name">{{ appName }}</p>
		</a>
	</div>

	<div class="nav-addon">
		<div class="me-3">
			<!-- <p-dropdown
				[options]="availableLangs"
				(onChange)="changeLocale($event)"
				[(ngModel)]="currentLang"
				optionLabel="label"
				optionValue="value"
				data-tui="language-selector"
			></p-dropdown> -->
		</div>
		<span class="user-name">
			{{ connectedUserInfo.username }}
		</span>
	</div>
</nav>
