.nav {
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-right: auto;
	padding-left: 0;
	overflow: hidden;
	list-style: none;

	&-addon {
		display: flex;
		align-items: center;
		padding-left: 1em;
	}

	&-logo {
		display: flex;
		align-items: center;
		padding: 0.5em;
	}
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--color-text-body);
}

.app-name {
	margin: 0;
	font-size: 1.75rem;
	font-weight: 500;
	text-transform: uppercase;
	font-style: italic;
}

.user-name {
	max-width: 10em;
	padding: 0 1em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
