.nav {
	&-addon {
		display: flex;
		align-items: center;
	}

	&-logo {
		display: flex;
		align-items: center;
		padding: 0.5em;
	}
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--color-text-body);

	&-img {
		height: 40px;
	}
}

.app-name {
	margin: 0;
	font-size: 1.75rem;
	font-weight: 500;
	text-transform: uppercase;
	font-style: italic;
}

@media screen and (max-width: 600px) {
	.app-name {
		font-size: 1.4rem;
	}

	.logo-img {
		height: 35px;
	}
}
