// DEFAULT
$color--primary: #0099ff;
$color--primary-inverse: #fff;
$color--primary-dark: #006eb7;

$color--secondary: #607d8b;
$color--secondary-inverse: #fff;

// CONTEXT
$color--text-body: #4c4c4e;
$color--bg-body: #fbfbfb;
$color--caption: var(--surface-500);
$color--bg-panel: #fff;
