<form
	[formGroup]="form"
	(ngSubmit)="submitForm($event)"
	class="form"
>
	<div class="flex">
		<div class="stacked-control">
			<label
				for="username"
				class="form-label"
				>Username</label
			>
			<input
				id="username"
				class="p-inputtext"
				type="text"
				formControlName="username"
			/>
			<small
				*ngIf="form.get('username').invalid && form.get('username').touched"
				id="username-help"
				class="p-error"
			>
				<!-- TODO : Add translation + make the same for all input-->
				Username is not available.
			</small>
		</div>
		<div class="stacked-control">
			<label
				for="email"
				class="form-label"
				>Email</label
			>
			<input
				id="email"
				class="p-inputtext"
				type="text"
				formControlName="email"
			/>
		</div>
		<div class="stacked-control">
			<label
				for="password"
				class="form-label"
				>Password</label
			>
			<p-password
				formControlName="password"
				[feedback]="false"
				[toggleMask]="true"
			/>
		</div>
		<p-button type="submit">Submit</p-button>
	</div>
</form>
