<div class="p-3">
	<p-panel header="Heart Rate data">
		<div class="flex">
			<div class="table">
				<p-table
					[scrollable]="true"
					scrollHeight="240px"
					[value]="[1]"
					styleClass="p-datatable-gridlines p-datatable-striped"
				>
					<ng-template pTemplate="body">
						<tr>
							<td>{{ activity.averagePace }}<br />Average Pace</td>
							<td>{{ activity.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.averagePace }}<br />Average Pace</td>
							<td>{{ activity.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.averagePace }}<br />Average Pace</td>
							<td>{{ activity.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.averagePace }}<br />Average Pace</td>
							<td>{{ activity.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.averagePace }}<br />Average Pace</td>
							<td>{{ activity.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.averagePace }}<br />Average Pace</td>
							<td>{{ activity.averageHr }}<br />Average Heart Rate</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
			<div class="chart">
				<p-chart
					type="line"
					[data]="heartRateData"
					[options]="heartRateOptions"
				></p-chart>
			</div>
		</div>
	</p-panel>
	<p-panel header="Pace data">
		<div class="flex">
			<div class="table">
				<p-table
					[scrollable]="true"
					scrollHeight="240px"
					[value]="[1]"
					styleClass="p-datatable-gridlines p-datatable-striped"
				>
					<ng-template pTemplate="body">
						<tr>
							<td>{{ activity.averagePace }}<br />Average Pace</td>
							<td>{{ activity.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.averagePace }}<br />Average Pace</td>
							<td>{{ activity.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.averagePace }}<br />Average Pace</td>
							<td>{{ activity.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.averagePace }}<br />Average Pace</td>
							<td>{{ activity.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.averagePace }}<br />Average Pace</td>
							<td>{{ activity.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.averagePace }}<br />Average Pace</td>
							<td>{{ activity.averageHr }}<br />Average Heart Rate</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
			<div class="chart">
				<p-chart
					type="line"
					[data]="paceData"
					[options]="paceOptions"
				></p-chart>
			</div>
		</div>
	</p-panel>
</div>
