<div class="p-3">
	<p-panel
		[header]="'activity-details.panel_header.overview' | transloco"
		styleClass="activity-details-panel"
	>
		<div class="overview-table">
			<p-table
				[value]="[1]"
				styleClass="p-datatable-gridlines details-datatable"
			>
				<ng-template pTemplate="body">
					<tr>
						<td>
							{{ activity.distance }} km<br />
							{{ "activity-details.distance" | transloco }}
						</td>
						<td>
							{{ activity.duration }}<br />
							{{ "activity-details.timing.duration_time" | transloco }}
						</td>
						<td>
							{{ activity.duration }}<br />
							{{ "activity-details.timing.elapsed_time" | transloco }}
						</td>
						<td>
							{{ activity.paceData.averagePace }} /km<br />
							{{ "activity-details.pace.avg_pace" | transloco }}
						</td>
						<td>
							{{ activity.hrData.averageHr }} bpm<br />
							{{ "activity-details.heart_rate.avg_hr" | transloco }}
						</td>
						<td>
							{{ activity.hrData.maxHr }} bpm<br />
							{{ "activity-details.heart_rate.max_hr" | transloco }}
						</td>
						<td>
							{{ activity.elevationData.totalAscent }} m<br />
							{{ "activity-details.elevation.total_ascent" | transloco }}
						</td>
						<td>
							{{ activity.calories }} kcal<br />
							{{ "activity-details.nutrition.burned_calories" | transloco }}
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</p-panel>
	<br />
	<p-panel
		[header]="'activity-details.panel_header.laps' | transloco"
		styleClass="activity-details-panel"
	>
		<div class="flex">
			<div class="hr-table">
				<p-table
					[scrollable]="true"
					scrollHeight="240px"
					[value]="[1]"
					styleClass="p-datatable-striped"
				>
					<ng-template pTemplate="header">
						<tr>
							<th></th>
							<th>{{ "activity-details.distance" | transloco }}</th>
							<th>{{ "activity-details.timing.duration_time" | transloco }}</th>
							<th>{{ "activity-details.pace.pace" | transloco }}</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body">
						<tr>
							<td>1</td>
							<td>
								{{ activity.hrData.maxHr }} bpm<br />
								{{ "activity-details.distance" | transloco }}
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>{{ activity.hrData.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.paceData.averagePace }}<br />Average Pace</td>
							<td>{{ activity.hrData.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.paceData.averagePace }}<br />Average Pace</td>
							<td>{{ activity.hrData.averageHr }}<br />Average Heart Rate</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
			<div class="chart">
				<p-chart
					type="line"
					[data]="hrData"
					[options]="hrOptions"
				></p-chart>
			</div>
		</div>
	</p-panel>
	<br />
	<p-panel
		[header]="'activity-details.panel_header.heart_rate_data' | transloco"
		styleClass="activity-details-panel"
	>
		<div class="flex">
			<div class="hr-table">
				<p-table
					[scrollable]="true"
					scrollHeight="240px"
					[value]="[1]"
					styleClass="p-datatable-gridlines p-datatable-striped"
				>
					<ng-template pTemplate="body">
						<tr>
							<td>
								{{ activity.hrData.averageHr }} /km<br />
								{{ "activity-details.heart_rate.avg_hr" | transloco }}
							</td>
							<td>
								{{ activity.hrData.maxHr }} bpm<br />
								{{ "activity-details.heart_rate.max_hr" | transloco }}
							</td>
						</tr>
						<tr>
							<td>
								{{ activity.calories }}<br />{{
									"activity-details.nutrition.burned_calories" | transloco
								}}
							</td>
							<td>{{ activity.hrData.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.paceData.averagePace }}<br />Average Pace</td>
							<td>{{ activity.hrData.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.paceData.averagePace }}<br />Average Pace</td>
							<td>{{ activity.hrData.averageHr }}<br />Average Heart Rate</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
			<div class="chart">
				<p-chart
					type="line"
					[data]="hrData"
					[options]="hrOptions"
				></p-chart>
			</div>
		</div>
	</p-panel>
	<br />
	<p-panel
		[header]="'activity-details.panel_header.pace_data' | transloco"
		styleClass="activity-details-panel"
	>
		<div class="flex">
			<div class="pace-table">
				<p-table
					[scrollable]="true"
					scrollHeight="240px"
					[value]="[1]"
					styleClass="p-datatable-gridlines p-datatable-striped"
				>
					<ng-template pTemplate="body">
						<tr>
							<td>{{ activity.paceData.averagePace }}<br />Average Pace</td>
							<td>{{ activity.hrData.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.paceData.averagePace }}<br />Average Pace</td>
							<td>{{ activity.hrData.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.paceData.averagePace }}<br />Average Pace</td>
							<td>{{ activity.hrData.averageHr }}<br />Average Heart Rate</td>
						</tr>
						<tr>
							<td>{{ activity.paceData.averagePace }}<br />Average Pace</td>
							<td>{{ activity.hrData.averageHr }}<br />Average Heart Rate</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
			<div class="chart">
				<p-chart
					type="line"
					[data]="paceData"
					[options]="paceOptions"
				></p-chart>
			</div>
		</div>
	</p-panel>
	<br />
	<p-panel
		[header]="'activity-details.panel_header.course_and_elevation_data' | transloco"
		styleClass="activity-details-panel"
	>
		<div class="flex">
			<div class="pace-table">
				<p-table
					[scrollable]="true"
					scrollHeight="240px"
					[value]="[1]"
					styleClass="p-datatable-gridlines p-datatable-striped"
				>
					<ng-template pTemplate="body">
						<tr>
							<td>
								{{ activity.distance }} km<br />
								{{ "activity-details.distance" | transloco }}
							</td>
							<td>
								+{{ activity.elevationData.totalAscent }} / -{{
									activity.elevationData.totalDescent
								}}
								m<br />
								{{ "activity-details.elevation.total_ascent_descent" | transloco }}
							</td>
						</tr>
						<tr>
							<td>
								-{{ activity.elevationData.totalDescent }} m<br />
								{{ "activity-details.elevation.total_descent" | transloco }}
							</td>
							<td>
								{{ activity.elevationData.maxElevation }} m<br />
								{{ "activity-details.elevation.max_elev" | transloco }}
							</td>
						</tr>
						<tr>
							<td>
								{{ activity.elevationData.minElevation }} m<br />
								{{ "activity-details.elevation.min_elev" | transloco }}
							</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
			<div class="chart">
				<p-chart
					type="line"
					[data]="courseElevationData"
					[options]="courseElevationOptions"
				></p-chart>
			</div>
		</div>
	</p-panel>
</div>
