<p-table
	[value]="activites"
	styleClass="p-datatable-gridlines"
>
	<ng-template pTemplate="header">
		<tr>
			<th>{{ "dashboard.dayNames.monday" | transloco }}</th>
			<th>{{ "dashboard.dayNames.tuesday" | transloco }}</th>
			<th>{{ "dashboard.dayNames.wednesday" | transloco }}</th>
			<th>{{ "dashboard.dayNames.thursday" | transloco }}</th>
			<th>{{ "dashboard.dayNames.friday" | transloco }}</th>
			<th>{{ "dashboard.dayNames.saturday" | transloco }}</th>
			<th>{{ "dashboard.dayNames.sunday" | transloco }}</th>
		</tr>
	</ng-template>
	<ng-template
		pTemplate="body"
		let-activity
	>
		<tr>
			<td>
				<p-card styleClass="activity-card">
					<ng-template pTemplate="title">
						{{ activity.name }}
						<p-divider></p-divider>
					</ng-template>
					<p>Type : {{ activity.type }}</p>
					@if(activity.averagePace) {
					<p>Pace : {{ activity.averagePace }}/km</p>
					}
					<p>Distance : {{ activity.distance }} km</p>
					<p>Average HR : {{ activity.averageHr }} bpm</p>
					<p>Duration : {{ activity.duration }}</p>
					<ng-template pTemplate="footer">
						<p-button
							severity="secondary"
							label="Edit"
							icon="pi pi-pencil"
						></p-button>
					</ng-template>
				</p-card>
			</td>
			<td>
				<p-card styleClass="activity-card">
					<ng-template pTemplate="title">
						{{ activity.name }}
						<p-divider></p-divider>
					</ng-template>
					<p>Type : {{ activity.type }}</p>
					@if(activity.averagePace) {
					<p>Pace : {{ activity.averagePace }}/km</p>
					}
					<p>Distance : {{ activity.distance }} km</p>
					<p>Average HR : {{ activity.averageHr }} bpm</p>
					<p>Duration : {{ activity.duration }}</p>
					<ng-template pTemplate="footer">
						<p-button
							severity="secondary"
							label="Edit"
							icon="pi pi-pencil"
						></p-button>
					</ng-template>
				</p-card>
			</td>
			<td>.</td>
			<td>.</td>
			<td>.</td>
			<td>.</td>
			<td>.</td>
		</tr>
	</ng-template>
</p-table>
