<p-table
	[value]="activites"
	styleClass="p-datatable-gridlines"
>
	<ng-template pTemplate="header">
		<tr>
			<th style="width: 20%">Lundi</th>
			<th style="width: 20%">Mardi</th>
			<th style="width: 20%">Mercredi</th>
			<th style="width: 20%">Jeudi</th>
			<th style="width: 20%">Vendredi</th>
		</tr>
	</ng-template>
	<ng-template
		pTemplate="body"
		let-activity
	>
		<tr>
			<td>
				<p-card
					header="Gimel Running"
					subheader="Card Subheader"
					styleClass="activity-card"
				>
					<!-- <ng-template pTemplate="header">
						<img
							alt="Card"
							src="https://static.actu.fr/uploads/2020/06/2-trail-du-tue-vaques30-kmvincent-palut-974-loic-chausse-937-anthony-beaumer-960.jpg"
						/>
					</ng-template> -->
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
						consequuntur error repudiandae numquam deserunt quisquam repellat libero
						asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
						neque quas!
					</p>
					<ng-template pTemplate="footer">
						<p-button
							severity="secondary"
							label="Edit"
							icon="pi pi-pencil"
						></p-button>
					</ng-template>
				</p-card>
			</td>
			<td>{{ activity.name }}</td>
			<td>{{ activity.category }}</td>
			<td>{{ activity.quantity }}</td>
			<td>{{ activity.quantity }}</td>
		</tr>
	</ng-template>
</p-table>
