:host {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.app-main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;
}

.app-footer {
	display: flex;
	justify-content: center;
	font-size: 0.8em;
}
