.p-card.dashboard-card {
	box-shadow: none;
	border: 1px solid #e9ecef;
	margin: 0 0.75em;

	.p-card-title {
		font-weight: 500;
		font-size: 1.2rem;
	}

	.p-card-content,
	.p-card-footer {
		padding: 0;
	}

	.p-card-footer {
		text-align: right;
	}
}

.p-card.activity-details-card {
	box-shadow: none;
	border: 1px solid #dbdbdb;
	border-radius: 0%;
	margin: 0 0 0.75em;

	.p-card-content {
		padding: 0;
	}
}
